{% extends 'base.html.twig' %}

{% block title %}Inicio - Symfony 6 Login{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center">¡Bienvenida a mi nueva página Web!</h1>
                </div>
                <div class="card-body">
                    <p class="lead"> ¡Hola! </p>
                    <p>Estás viendo una primera prueba de mi <strong>trabajo-symfony:</strong></p>
                    <ul>
                        <li>Mi <strong>controlador (controller)</strong> está ubicado en la ruta:<br><code>C:/Users/anala/OneDrive/Escritorio/trabajo-symfony/src/Controller/HomeController.php</code></li><br>
                        <li>Mi <strong>plantilla (template)</strong> está ubicada en la ruta:<br><code>C:/Users/anala/OneDrive/Escritorio/trabajo-symfony/templates/home/index.html.twig</code></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
